<div class="container">
  <div class="content second-content">
    <!--TRABALHANDO COM DUAS COLUNAS-->
    <div class="first-column">
      <img class="imglogin" src="../assets/logoA.png" alt="" />
      <p class="description description-primary">ou se Inscreva</p>
      <button
        id="signup"
        class="btn btn-primary"
        routerLink="/signup"
        routerLinkActive="selected"
      >
        sign up
      </button>
    </div>
    <!--FIRST COLUMN-->

    <div class="second-column">
      <h2 class="title title-second">entrar na Conta</h2>

      <p class="description description-second">use sua conta de email:</p>

      <form action="" class="form">
        <label class="label-input" for="">
          <i class="far fa-envelope icon-modify"></i>
          <input type="email" placeholder="Email" required />
        </label>

        <label class="label-input" for="">
          <i class="fas fa-lock icon-modify"></i>
          <input type="password" placeholder="senha" required />
        </label>

        <a class="password" href="#">esqueci minha senha</a>
        <button class="btn btn-second">sing in</button>
      </form>
    </div>
    <!--SECOND COLUMN-->
  </div>
</div>
