<div class="container">
  <div class="content first-content">
    <!--TRABALHANDO COM DUAS COLUNAS-->
    <div class="first-column">
      <img class="imglogin" src="../assets/logoA.png" alt="" />
      <p class="description description-primary">
        Converse com seus Amigos agora
      </p>
      <p class="description description-primary">
        faça login com seu melhor Email
      </p>
      <button id="signin" class="btn btn-primary">sign in</button>
    </div>
    <!--FIRST COLUMN-->

    <div class="second-column">
      <h2 class="title-second">Crie sua conta</h2>

      <p class="description description-second">
        use seu Email para se cadastrar:
      </p>

      <form action="" class="form">
        <label class="label-input" for="">
          <i class="far fa-user icon-modify"></i>
          <input type="text" placeholder="Name" required />
        </label>

        <label class="label-input" for="">
          <i class="far fa-envelope icon-modify"></i>
          <input type="email" placeholder="Email" required />
        </label>

        <label class="label-input" for="">
          <i class="fas fa-lock icon-modify"></i>
          <input type="password" placeholder="Password" required />
        </label>

        <button class="btn btn-second">sing up</button>
      </form>
    </div>
    <!--SECOND COLUMN-->
  </div>
</div>
